.container{
    display: flex;
    flex-flow: column;
    border: 1px solid;
    background: linear-gradient(#2d0b7f, #2b6d8b);
}
.titulo{
    display: flex;
    justify-content: center;
    border: 1px solid;
}

.primeraSeccion{
    display: flex;
    justify-content: center;
    border: 1px solid;
    
}

.segundaSeccion{
    display: flex;
    justify-content: center;
    border: 1px solid;
}


.registro{
    display: flex;
    flex-flow: column;
    border: 1px solid;
    width: 100%;
    background-color: rgb(85, 153, 213);

}

.boton{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formulario{
    display: flex;
    width: 100%;
}

.botonEstilos{
    background-color: rgb(85, 153, 213);
    width: 100%;
}

.parrafo1{
    color: #f0f1f1;
}